
<style>
    .site-map {
        transition: var(--pull-tab-transition);
        position: absolute;
        top: 0;
        bottom: 0;
        left: -11rem;
        background-color: var(--bs-gray-800) !important;
        display: flex;
        flex-direction: column;
        min-width: 13rem;
        max-width: 13rem;
        min-height: 100vh;
        max-height: 100vh;
        border-right: 2px solid var(--bs-tertiary);
        background-color: red;
        z-index: 10;
    }

        .site-map > ul {
            margin-block: 2rem;
            margin-inline: auto;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
        }

            .site-map > ul > li {
                margin: 1rem;
                margin-block: 2rem;
                margin-inline: auto;
                font-size: 16pt;
            }

            .nav-link-active {
                color: cornsilk;
            }

        .site-map .link {
            max-width: fit-content;
        }

        .site-map:hover {
            left: -1rem;
            transition: var(--pull-tab-transition);
        }


    .menu-dots {
        top: 0;
        left: 11.25rem;
        position: inherit;
        transition: var(--pull-tab-transition);
    }

</style>

<div class="site-map">
    <i class="menu-dots bi bi-three-dots-vertical"></i>

    <ul class="list-unstyled">
        <li>

            <NavLink ActiveClass="nav-link-active" class="link link-yellow-400" id="__home-link" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        @* <li>
            <NavLink ActiveClass="nav-link-active" href="games" class="link link-yellow-400">
                Games
            </NavLink>
        </li> *@
        <li>
            <NavLink ActiveClass="nav-link-active" href="contact" class="link link-yellow-400">
                Contact Me
            </NavLink>
        </li>
    </ul>
</div>
@code {

}
