@inject IJSRuntime JS
@inject NavigationManager Nav

<div id="__hover-menu"
     class="@Position"
     @onclick='ToggleShell'
     @onmouseenter='(() => {Hover = true; _ = HoverChanged.InvokeAsync(Hover);})'
     @onmouseleave='(() => {Hover = false; _ = HoverChanged.InvokeAsync(Hover);})'>

    <div class="pull-tab">
        <i class="bi bi-three-dots-vertical" id="__three-dots"></i>

    </div>

</div>

<NavLink>Contact Me</NavLink>

@code {
    IJSObjectReference? _module;

    [Parameter]
    public string Position { get; set; } = default!;

    [Parameter]
    public bool Hover { get; set; }

    [Parameter]
    public EventCallback<bool> HoverChanged { get; set; }

    [Parameter]
    public EventCallback<string> PositionChanged { get; set; }

    [Parameter]
    public EventCallback ToggleShell { get; set; }

    private void NavigateHome()
    {

        _module!.InvokeVoidAsync("resetTooltip", "__home-btn");
        Nav.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/site.js");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
