


#__hover-menu {
    width: 40px;
    height: 2rem;
    position: absolute;
    transition: all cubic-bezier(.48,.38,.71,1.34) .4s;
    top: 0;
    left: 0;
}


    #__hover-menu.pos-right {
         
        right: 0;
        left: unset;
    }


.sidebar > ul > li {
    left: -250%;
    list-style: none;
    transform: translateX(-4em);
    width: 110px;
    height: 50px;
    padding: 2px;
    transition: var(--sidebar-transition);
    transition-delay: .6s;
    justify-content: left;
}


.nav-btn {
    transition: var(--sidebar-transition);
    transition-delay: .6s;
    margin-block: 1em;
    font-size: 10pt;
}

#__home-btn {
    top: 2em;
}

#__contact-btn {
    top: 8em;
}

#__transformer-collapse {
    top: 14em;
}

