@page "/test"
@layout MainLayout
@using Microsoft.AspNetCore.Html
@inject IHttpClientFactory _httpFactory
@inject IServiceProvider _provider
@inject ILoggerFactory _loggerfactoy;

<body>

    @if (Content != null)
    {
        <div class="position-absolute left-50 top-50">@Content</div>
    }
</body>

@code {

    public string? Content { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var html = _httpFactory.CreateClient();
            var response = await html.GetAsync("https://localhost:5051/get-tool");
            Console.WriteLine(response.StatusCode.ToString());
            var contentString = await response.Content.ReadAsStringAsync();
            var renderer = new HtmlRenderer(_provider, _loggerfactoy);
            var toastService = _provider.GetRequiredService<ToastService>();

            Content = await renderer.Dispatcher.InvokeAsync(async () =>
            {
                var mainTool = await renderer.RenderComponentAsync<MainTool>();
                return mainTool.ToHtmlString();
            });
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
