@inherits LayoutComponentBase

<PageTitle>Devin Freeman</PageTitle>

<div class="page">
    <main role="main">
        <article class="content px-4 vh-100">

                @Body
        </article>

        <footer class="border-top bg-professional-grey-601 w-100 text-orange-400">
            2022 - Devin Freeman - Software & Web Developer
        </footer>
    </main>

</div>
