
.touchpad-wrap {
    /*    font-family: 'Arial Rounded MT';*/
    /*    font-stretch: extra-expanded;*/
    max-height: max-content;
    max-width: fit-content;
}

.touchpad {
    flex-basis: 100%;
    min-height: 13rem;
    max-height: auto;
    min-width: 22rem;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px inset var(--bs-professional-grey-500);
    outline: 2px inset var(--bs-orange-700);
    background-color: #bac2ca;
}
#__y-value {
    position: absolute;
    min-width: 20px;
    transform: translate( 0px, -75px) rotateZ(90deg);
    text-align: end;
}


#__y-axis {
    position: absolute;
    transform: translate(-25px, -130px) rotateZ(90deg);
}

#__x-value {
    position: absolute;
    min-width: 20px;
    text-align: end;
    transform: translate(165px, -24px);
}

#__x-axis {
    position: absolute;
    transform: translate(80px, -25px);
}

#faster {
    display: flex;
    flex-wrap: nowrap;
    max-width: fit-content;
    /*margin-inline: auto;*/
    /*margin-top: 10px;*/
}

.touchpad-label {
    color: var(--bs-professional-grey-800);
    filter: contrast(1.5);
}
.touchpad-value {
    color: var(--bs-teal-700);
    filter: contrast(2);
}
