@inherits LayoutComponentBase
@inject NavigationManager Nav
<PageTitle>User Content</PageTitle>

<div class="page">
    <main class="main">
        <article class="content px-4 vh-100">
            <MainTool>
                @Body
            </MainTool>
        </article>
    </main>
    <footer class="border-top bg-professional-grey-600 position-absolute bottom-0 w-100 footer text-orange-400">
        <div class="container">
            2023 - Devin Freeman - Software & Web Developer
        </div>
    </footer>
</div>