* {
    --face-transition: .6s all ease;
}

.width-fit {
    min-width: fit-content;
    max-width: fit-content;
}

#__face-photo {
    position: absolute;
    z-index: -10;
    bottom: 5em;
    background-image: url('../images/face2.png');
    background-position: center;
    background-size: 25em;
    background-repeat:no-repeat;
    min-width: 40em;
    max-width: 40em;
    min-height: 40em;
    transform: perspective(500px);
    transition: var(--face-transition);
}

#__color-filter {
    position: revert-layer;
    z-index: -10;
}

#__name-link-top,
#__name-link-bottom {
    transform-style: preserve-3d;
    bottom: 0em;
    left: 8em;
    font-family: 'Josefin Sans', sans-serif;
    transform-origin: 50% 50% 0;
    perspective-origin: 50% 50% 0;
}

#__name-link-top {
    position: absolute;
    transform-origin: center;
    perspective-origin: center;
    transform: translateX(-44px) translateY(-46px) matrix3d(0.983458, -0.00567079, -0.181047, 0.000362094, 0.0515409, 0.966954, 0.249686, -0.000499372, 0.188907, -0.211368, 1.22137, -0.00444273, 126.222, -46.7974, -8.70228, 0.777405) rotateY(4deg) rotateZ(-1deg) rotateX(5deg);
    color: var(--bs-orange-500);
    transition: var(--face-transition);
}

#__light {
    /*    background-image: src('/images/light-ray.png');*/
    /*    background-position: center;
    background-repeat: no-repeat;*/
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100em;
    max-height: 100em;
    min-width: 100em;
    max-width: 100em;
}

#__ray {
    position: absolute;
    opacity: .2;
    filter: sepia(.2);
    transform: translateX(-324px) translateY(-633px);
}

#__name-link-bottom {
    transform:translateX(-85px) translateY(-58px) matrix3d(1.08392, 0.0487305, 0.00773339, -0.0000154668, 1.28979, 0.586442, 0.80924, -0.00161848, -1.07776, -0.808524, 0.587427, -0.00117485, 73.8564, 23.1982, 94.2522, 0.811496);
    color: whitesmoke;
    mix-blend-mode: difference;
    position: absolute;
    transition: var(--face-transition);
}


.preserve-3d {
    transform-style: preserve-3d;
}

.point-light {
    filter: url(#__spotlight);
}

.footer {
    position: page;
    bottom: 0;
}

.fade-face {
    position: absolute !important;
    transform: translate(-301px, -450px) scale(.1) !important;
    transition: var(--face-transition);
    opacity: 0;
}

    .fade-face #__name-link-top, .fade-face #__name-link-bottom {
        visibility: hidden;
        transition: var(--face-transition);
    }

#__black-hole {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    font-size: 20pt;
}

body {
    transition: all 1s ease;
}

    body > * {
        transition: all 1s ease;
    }

    body.on-transition > * {
        transition: all 1s ease;
        transform: translateX(-2000%) !important;
    }
