@page "/"

<style>
    .point-light {
        filter: url(#__spotlight);
    }

    #__light {
        position: absolute;
        top: 1rem;
        left: -1rem;
        min-height: 100em;
        max-height: 100em;
        min-width: 100em;
        max-width: 100em;
    }

    #__ray {
        position: absolute;
        top: -10rem;
        left: -10rem;
        opacity: .3;
        filter: brightness(1.5) grayscale(.4);
        transform-origin: center;
        transform: translateX(-40px) translateY(-527px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.005, 160, 0, 0, 1);
        pointer-events: none;
    }

    .toastr {
        position: absolute;
        top: 5%;
        font-size: 14pt;
        left: 50%;
        transform-origin: center;
        /* left: calc(30% - 7.5rem); */
        border-radius: 5px;
        min-width: 15rem;
        font-weight: 500;
    }

</style>

<body>

    <MainTool>
        <div id="__face-photo">
            <div class="visually-hidden position-absolute" id="example-object">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
                    <path d="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80" fill="orange" stroke="orange" stroke-width="5" />
                </svg>

            </div>


            <text id="__name-link-top" class="point-light h1">Devin Freeman</text>
            <h1 id="__name-link-bottom">Devin Freeman</h1>
        </div>
        <div id="__light">
            <img id="__ray" src="./images/light-ray.png" />
        </div>
    </MainTool>
</body>